    body {
        background-color: #333;
        color: #cccccc;
    }

    div {
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
        font-family: monospace;
        line-height: 2em;
        background-color: #222;
        border-radius: 15px;
    }

    img {
        max-width: 80%;
    }

.textparagraph {
    text-align: justify;
    text-justify: distribute;
    /* text-align-last: left; */
}