body {
    background-color: #333;
    color: #cccccc;
    font-family: 'Noto Sans Mono';
    font-size: 1.2em;
}

div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-family: monospace;
    line-height: 2em;
    background-color: #222;
    border-radius: 15px;
}

h1 {
    font-size: 2.8em;
    line-height: 1em;
    color: #10A010;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #10A010;
}

a:hover {
    color: #80C080;
}

img {
    max-width: 80%;
}

code {
    font-family: monospace;
    font-size: inherit;
}
  
  /* Code in text */
p > code,
li > code,
dd > code,
td > code {
    background: #111111;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .2rem .3rem .2rem;
    border-radius: .2rem;
}

#navbar {
    background-color: #444;
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
    /* display: block; */
    transition: top 0.3s;
  }
  
#navbar a {
    /* float: left; */
    /* display: block; */
    color: #cccccc;
    text-align: center;
    padding: 15px;
    /* text-decoration: none; */
    font-size: 1.3em;
    line-height: 2.2em;
  }


#navbar a:hover {
    color: #10A010;
}